html {
    color: #5F5F5F;
    background: #4682B4;
}

body {
    background: white;
    border-radius: 15px;

    max-width: 350px;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    -webkit-margin-before: 0;
    /*-webkit-margin-after: 0;*/
}

p {
    /*color: #4C4C4C;*/
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

a, a:hover {
    color: #4C4C4C;
}
